h1 {
	color: white
	background-color: #3f4ac1
	font: Georgia
	font-size: large
}

h3 {
	color: white
	background-color: #3f4ac1
	font: Georgia
	font-size: medium
}

nav.navbar {
	background-color: orange
}

body {
	background-color: #3f4ac1;
	margin:0;
}

a {
	color: white;
	background-color: #3f4ac1
}
a:visited {
	color: royalblue;
}
a:hover,
a:focus,
a:active {
	color: midnightblue;
}

.thumbnail:hover {
    background-color: red
}
